*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#fixed{
    background-color:rgb(255, 117, 241);
    position: fixed;
    left: 0%;
    right:0%;
    display: flex;
    justify-content: center;
}
.one{
    display: inline;
    color: rgb(217, 78, 140);
}
.two{
    display: block;
    color: rgb(217, 78, 140);
}
.three{
    display: inline-block;
    color: rgb(217, 78, 140);
}